<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple Web App">
    <meta name="author" content="Kamran Karimov">

    @RenderSection("metatag", false)

    <title>@ViewData["Title"] | Simple Web App</title>

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap-jumbotron/bootstrap-jumbotron.min.css" rel="stylesheet" />

    @RenderSection("styles", false)

</head>

<body>

    <partial name="~/Views/Shared/Partials/_HeaderNavbarPartial.cshtml" />

    <main role="main" class="mt-5 @ViewData["MainClass"]">
        @RenderBody();
    </main>

    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />

    <script src="~/jquery/jquery.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/jquery/jquery.slim.min.js"><\/script>')</script>
    <script src="~/popper.js/esm/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
